# HomiQ Frontend Environment Variables
VITE_RAZORPAY_KEY_ID=rzp_test_TWt6Xac7o9V7dd
VITE_GOOGLE_CLIENT_ID=194480595752-9e6lj4crqlk74ed404vvte2n03u5122k.apps.googleusercontent.com
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDZLueyk2lZjwzzjTJR1jxO-jhgLx9Kjeg